@import './variables.scss';
.indicator-light {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    .indicator-light_circle {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: inline-block;
        border: 2px solid black;

        &.green {
            background-color: $colorGreen;
        }
    
        &.red {
            background-color: $colorRed;
        }
    }
}