@import './variables.scss';
.number-display {
    display: flex;
    justify-content: center;
   
    .number-display_message {
        width: 45%;
        border: 5px solid black;
        border-radius: 15px;
        background-color: $colorGrayishGreen;
        height: 70px;
        font-size: 45px;
        text-align: center;
        font-family: 'Orbitron', sans-serif;
    }

    @media only screen and (max-width: 600px) {
        .number-display_message {
            width: 70%;
        }
    }

    @media only screen and (max-width: 800px) {
        .number-display_message {
            width: 60%;
        }
    }
}
